
$hoverColor: white

html
  scroll-behavior: auto!important

section
  text-align: center

%title
  color: $hoverColor
  text-transform: uppercase
  font-weight: 300

%myrow
  display: flex
  justify-content: space-between

%myverticalcenter
  display: flex
  align-items: center
  justify-content: center

